/target/
/temp/
!.mvn/wrapper/maven-wrapper.jar
/node_modules
#/vue_zoom_admin
#/vue_zoom_web
/doc
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.settings

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.iml

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

/webapps/

/logs/